small {
    font-size: xx-small;
    color: darkgrey;
    mat-icon {
        width: 15px;
        font-size: small;
    }
}

.left-align > ::ng-deep figure {
    justify-content: flex-start;
}

.right-align > ::ng-deep figure {
    justify-content: flex-end;
}

mat-grid-list {
    width: 100%;
    span {
        height: 15px;
    }
}

