@import '../../theme.scss';

:host { display: block; }

small {
    font-size: xx-small;
    color: darkgrey;
    mat-icon {
        width: 15px;
        font-size: small;
    }
}

.left-align > ::ng-deep figure {
    justify-content: flex-start;
}

.right-align > ::ng-deep figure {
    justify-content: flex-end;
}

mat-grid-list {
    width: 100%;
    span {
        height: 15px;
    }
    mat-grid-tile {
        overflow: initial;
    }
}

mat-toolbar.mat-toolbar {
    width: calc(100vw - 64px);
    max-width: 832px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    margin-top: 3vh;
    background: none;
}

.clickable:hover {
    color: mat-color($fate-app-primary);
    cursor: pointer;
}

.login-button {
    position: relative;
    top: 4px;
    z-index: 1;
}

