service cloud.firestore {
  match /databases/{database}/documents {

    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }

  	function isAdmin() {
    	return getUserData().admin;
    }

    match /users/{userId} {
      allow read: if request.auth.uid == userId;
      allow update: if request.auth.uid == userId &&
      	request.resource.data.moment == resource.data.moment &&
        request.resource.data.admin == resource.data.admin &&
        request.resource.data.size() == resource.data.size();
    }
    
    match /zones/{zone}/locations/{location}/moments/{moment} {
    	allow read: if get(getUserData().moment).id == moment;
      allow write: if get(get(getUserData().moment).data.owner).id == request.auth.uid || isAdmin() == true;
    }
    
    match /zones/{zone} {
    	allow read: if true;
      allow update: if isAdmin() == true || get(resource.data.owner).id == request.auth.uid;
    }
    
    match /zones/{zone}/locations/{location} {
    	allow read: if true;
      allow update: if isAdmin() == true || get(resource.data.owner).id == request.auth.uid;
    }

    match /encyclopedia/{encyclopedia} {
    	allow read, create: if request.auth.uid != null;
      allow update: if isAdmin() == true || get(resource.data.owner).id == request.auth.uid;
    }
  }
}