service cloud.firestore {
  match /databases/{database}/documents {

    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }

  	function isAdmin() {
    	return getUserData().admin;
    }
    
    function validFlag(input, original) {
    	return input.flags.size() <= original.flags.size() ||
      	(
        input.flags.size() == original.flags.size() + 1 &&
        get(get(getUserData().moment).data.flag).id == get(input.flags[input.flags.size() - 1]).id
        );
    }
    
    match /users/{userId} {
      allow read: if request.auth.uid == userId;
      allow update: if request.auth.uid == userId &&
      	request.resource.data.admin == resource.data.admin &&
        validFlag(request.resource.data, resource.data) &&
        request.resource.data.size() == resource.data.size();
    }
    
    match /zones/{zone}/locations/{location}/moments/{moment} {
    	allow read: if true;
      allow write: if get(get(getUserData().moment).data.owner).id == request.auth.uid || isAdmin() == true;
    }
    
    match /zones/{zone} {
    	allow read: if true;
      allow update: if isAdmin() == true || get(resource.data.owner).id == request.auth.uid;
      allow create: if isAdmin() == true;
    }
    
    match /zones/{zone}/locations/{location} {
    	allow read: if true;
      allow update: if isAdmin() == true || get(resource.data.owner).id == request.auth.uid;
      allow create: if isAdmin() == true;
    }

    match /encyclopedia/{encyclopedia} {
    	allow read, create: if request.auth.uid != null;
      allow update: if isAdmin() == true || get(resource.data.owner).id == request.auth.uid;
    }

    match /flags/{flag} {
    	allow read, create: if request.auth.uid != null;
      allow update: if isAdmin() == true || get(resource.data.owner).id == request.auth.uid;
    }
  }
}