.container {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;

  mat-button-toggle-group {
    width: fit-content;
  }

}

.container > * {
 width: 100%;
}

.button-container {
  padding-top: 15px;
}

.button-option {
  margin: auto;
  width: 100%;
  line-height: 18px;
  min-height: 40px;
  white-space: normal !important;
}

.button-add {
  color: rgba(0, 0, 0, 0.15);
}

.tab-buttons {
  position: absolute;
  height: 0px;
  top: 15px;
  right: -13px;

  app-tab-button {
    position: fixed;
  }
}

mat-button-toggle-group {
  flex-wrap: wrap;
  border: none;
  margin-bottom: 15px;
  mat-button-toggle {
    border: solid 1px rgba(0, 0, 0, 0.12);
    margin: 2px;
  }
}