.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  mat-button-toggle-group {
    width: fit-content;
  }

}

.container > * {
 width: 100%;
}

.button-container {
  padding-top: 15px;
}

.button-option {
  margin: auto;
  width: 100%;
}

.tab-buttons {
  position: absolute;
  height: 0px;
  top: 10px;
  right: -18px;

  app-tab-button {
    position: fixed;
  }
}