<form [formGroup]="form" class='container' *ngIf='form.enabled'>
  <div class='container'>
    <mat-form-field class="full-width">
      <input matInput placeholder="Describe the choice" formControlName='text' [disabled]='disabled'>
    </mat-form-field>
    <mat-hint><small>Choose an action to perform</small></mat-hint>
    <mat-button-toggle-group formControlName='type' [disabled]="disabled || form.get('id').value !== null">
      <mat-button-toggle value='moment' aria-label="Go to a new moment" matTooltip="Go to a new moment">
        <mat-icon>add_comment</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value='reset' aria-label="Return to first moment of this location" matTooltip="Return to first moment of this location">
        <mat-icon>refresh</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value='location' aria-label="Go to an existing location" matTooltip="Go to an existing location">
        <mat-icon>location_on</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value='newlocation' aria-label="Go to a new location" matTooltip="Go to a new location">
        <mat-icon>add_location</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value='zone' aria-label="Go to a zone" matTooltip="Go to a new zone">
        <mat-icon>public</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-form-field *ngIf="form.get('type').value === 'location'">
      <mat-label>Choose a location to go to</mat-label>
      <mat-select matNativeControl formControlName='location' [disabled]='disabled'>
        <mat-option *ngFor="let location of locations$ | async" [value]="location.ref">{{ location.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width" *ngIf="form.get('type').value === 'newlocation'">
      <input matInput placeholder="Name the new location" formControlName='name' [disabled]='disabled'>
    </mat-form-field>
    <mat-form-field *ngIf="form.get('type').value === 'zone'">
      <mat-label>Choose a zone to go to</mat-label>
      <mat-select matNativeControl formControlName='zone' [disabled]='disabled'>
        <mat-option *ngFor="let zone of zones$ | async" [value]="zone.ref">{{ zone.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-hint><small>Choose required flags</small></mat-hint>
    <small>None selected</small>
  </div>
</form>

<div class='button-container' *ngIf='form.disabled'>
  <button mat-line (click)='next(option)' (contextmenu)="edit($event, option)" mat-button class='button-option' *ngFor='let option of _moment.options' [disabled]='disabled'>{{ option.text }}</button>
  <button mat-line (click)='respawn()' mat-button color='primary' class='button-option' *ngIf='!_moment.options.length && !_moment.end' [disabled]='disabled'>The story ends here. Start again?</button>
  <button mat-line (click)='respawn()' mat-button color='warn' class='button-option' *ngIf='_moment.end' [disabled]='disabled'>You fate is sealed. Start again?</button>
  <button mat-line (click)='add();' mat-button class='button-option button-add' *ngIf='showAddOptionButton && !disabled'>Add a new choice</button>
</div>

<div class='tab-buttons'>
  <app-tab-button icon='save' (click)='save()' *ngIf="form.enabled" [disabled]='form.invalid || disabled'></app-tab-button>
  <div *ngIf="form.enabled && form.get('id').value !== null">
    <br/>
    <app-tab-button icon='delete' (click)='delete()' [disabled]='disabled'></app-tab-button>
  </div>
  <br/>
  <app-tab-button icon='cancel' (click)='form.disable()' *ngIf='form.enabled' [disabled]='disabled'></app-tab-button>
</div>