<form [formGroup]="form" class='container' *ngIf='form.enabled'>
  <div class='container'>
    <mat-form-field class="full-width">
      <input matInput placeholder="Describe the choice" formControlName='text' [disabled]='disabled'>
    </mat-form-field>
    <mat-hint><small>Action</small></mat-hint>
    <mat-button-toggle-group formControlName='type' [disabled]='disabled'>
      <mat-button-toggle value='moment' aria-label="Go to a new moment" matTooltip="Go to a new moment">
        <mat-icon>add_comment</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value='reset' aria-label="Return to first moment of this location" matTooltip="Return to first moment of this location">
        <mat-icon>refresh</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value='location' aria-label="Go to an existing location" matTooltip="Go to an existing location">
        <mat-icon>location_on</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value='newlocation' aria-label="Go to a new location" matTooltip="Go to a new location">
        <mat-icon>add_location</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value='zone' aria-label="Go to a zone" matTooltip="Go to a zone" disabled='true'>
        <mat-icon>public</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-form-field *ngIf="form.get('type').value === 'location'">
      <mat-label>Go to location?</mat-label>
      <mat-select matNativeControl formControlName='location'>
        <mat-option *ngFor="let location of locations$ | async" [value]="location.ref">{{ location.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>

<div class='button-container' *ngIf='form.disabled'>
  <button mat-line (click)='next(option)' mat-button class='button-option' *ngFor='let option of _moment.options' [disabled]='disabled'>{{ option.text }}</button>
  <button mat-line (click)='respawn()' mat-button color='primary' class='button-option' *ngIf='!_moment.options.length && !_moment.end' [disabled]='disabled'>Respawn at the End of Eternity</button>
  <button mat-line (click)='respawn()' mat-button color='warn' class='button-option' *ngIf='_moment.end' [disabled]='disabled'>Respawn at the End of Eternity</button>
</div>

<div class='tab-buttons'>
  <app-tab-button icon='add' (clicked)='form.enable();' *ngIf='showAddOptionButton' [disabled]='disabled'></app-tab-button>
  <app-tab-button icon='save' (click)='save()' *ngIf='form.enabled' [disabled]='form.invalid || disabled'></app-tab-button>
  <br/>
  <app-tab-button icon='cancel' (click)='form.disable()' *ngIf='form.enabled' [disabled]='disabled'></app-tab-button>
</div>