@import '../../theme.scss';

:host { display: block; }

.splash-container {
    margin-left: auto;
    margin-right: auto;
    width: 200px;

    & > * {
        
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: block;
        width: 100%;
    }

    .logo {
        height: 130px;
        margin-top: 30vh;
        animation: float-animation 6s ease-in-out infinite;
    }

    .title-text {
        margin-top: 10px;
        font-family: "Oranienbaum", "Lucida Grande", "Lucida Sans Unicode", "GNU Unifont", Verdana, Helvetica, sans-serif;
        font-size: 1em;
    }
    
}


@keyframes float-animation {
	0% {
        transform: translatey(0px);
	}
	50% {
        transform: translatey(-20px);
	}
	100% {
        transform: translatey(0px);
	}
}