@import '../../theme.scss';

.splash-container {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    
    &.highlight:hover {
        cursor: pointer;
        .title-text {
            text-shadow: 1px 1px 3px mat-color($fate-app-primary);
        }
        .logo {
            filter: drop-shadow(1px 1px 3px mat-color($fate-app-primary));
        }
    }

    & > * {
        
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: block;
        width: 100%;
    }

    .logo {
        height: 130px;
        margin-top: 30vh;
        animation: float-animation 6s ease-in-out infinite;
        filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, .7));
    }

    .title-text {
        text-shadow: 2px 2px 5px rgba(0, 0, 0, .7);
        font-family: "Lucida Grande", "Lucida Sans Unicode", "GNU Unifont", Verdana, Helvetica, sans-serif;
        font-size: 4em;
    }
    
}


@keyframes float-animation {
	0% {
        transform: translatey(0px);
	}
	50% {
        transform: translatey(-20px);
	}
	100% {
        transform: translatey(0px);
	}
}