<div *ngIf='form.disabled'>
  <span *ngFor='let field of _cachedRead'>
    <span *ngIf='!field.tip'>{{ field.text }}</span>
    <span class='tip' [matTooltip]='field.tip' [attr.aria-label]='field.tip' *ngIf='field.tip'>{{ field.text }}</span>
  </span>
</div>
<form [formGroup]="form" class='container' *ngIf='form.enabled'>
  <mat-form-field>
    <textarea #editor matInput matTextareaAutosize placeholder="What happens?" formControlName="text"></textarea>
  </mat-form-field>
  <mat-button-toggle-group multiple>
    <mat-button-toggle (click)="toggle('end')" [checked]="form.get('end').value" aria-label="Does the story ends here?" matTooltip="Does the story ends here?">
      <mat-icon>error</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle (click)="mark()" aria-label="Highlight selected text and provide encyclopedia entry." matTooltip="Highlight selected text and provide encyclopedia entry.">
      <mat-icon>book</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <br/>
  <mat-form-field *ngFor='let encyclopedia of _cachedEncyclopedia'>
    <input matInput [placeholder]="encyclopedia.text" [value]='encyclopedia.tip'>
  </mat-form-field>
</form>
<div class='tab-buttons'>
  <app-tab-button *ngIf='form.disabled && (story.canEditMoment$ | async)' icon='edit' (clicked)='edit()'></app-tab-button>
  <app-tab-button *ngIf='form.enabled' icon='save' (clicked)='save()'></app-tab-button>
  <br/>
  <app-tab-button *ngIf='form.enabled' icon='cancel' (clicked)='form.disable();'></app-tab-button>
</div>
<div *ngIf='form.disabled && !_moment.end && !_moment.options.length'>
  <pre>The story ends here unless you continue it.</pre>
</div>
<div *ngIf='form.disabled && _moment.end'>
  <pre>Your fate is sealed.</pre>
</div>