@import '../../theme.scss';

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  mat-button-toggle-group {
    width: fit-content;
  }

}

.container > * {
 width: 100%;
}



.tab-buttons {
  position: absolute;
  height: 0px;
  top: 10px;
  right: -18px;

  app-tab-button {
    position: fixed;
  }
}


span.tip {
  color: mat-color($fate-app-primary);
  &:hover {
    cursor: pointer;
  }
}