<div [@fader]="(auth.firebaseUser$ | async) ? 'in' : 'out'" (@fader.start)='isAnimatingContent=true;' (@fader.done)='isAnimatingContent=false;' [style.height]='0'>
  <app-header *ngIf="(auth.firebaseUser$ | async) || isAnimatingContent"></app-header>
  <app-story *ngIf="(auth.firebaseUser$ | async) || isAnimatingContent"></app-story>
</div>

<div [@fader]="!(auth.firebaseUser$ | async) ? 'in' : 'out'" (@fader.start)='isAnimatingSplash=true;' (@fader.done)='isAnimatingSplash=false;' [style.height]='0'>
  <app-splash *ngIf="!(auth.firebaseUser$ | async) || isAnimatingSplash"></app-splash>
</div>



