.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
        Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

pre {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "GNU Unifont", Verdana, Helvetica, sans-serif !important;
}

small {
    font-size: xx-small;
    color: darkgrey;
    mat-icon {
        width: 15px;
        font-size: small;
    }
}

.zone {
    margin-left: 8px;
}