<div>
  <button mat-line mat-button (click)="menu = 'golocation';" *ngIf='!menu'>Go To Location</button>
  <button mat-line mat-button (click)="menu = 'gozone';" *ngIf='!menu'>Go To Zone</button>
  <button mat-line mat-button (click)="menu = 'createzone';" *ngIf='!menu'>Create Zone</button>
</div>

<div *ngIf="menu === 'golocation'">
  <button mat-line mat-button (click)="goToLocation(location.ref)" *ngFor="let location of locations$ | async">{{ location.name }}</button>
</div>

<div *ngIf="menu === 'gozone'">
    <button mat-line mat-button (click)="goToZone(zone.ref)" *ngFor="let zone of zones$ | async">{{ zone.name }}</button>
  </div>

<div *ngIf="menu === 'createzone'">
  <form [formGroup]="zoneForm" class='container'>
    <mat-form-field>
      <input matInput formControlName='name' placeholder='Name of new zone'>
    </mat-form-field>
  </form>
  <button mat-button (click)='createZone()' [disabled]='zoneForm.invalid || zoneForm.disabled'>
    Create Zone
  </button>
</div>