mat-card {
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
    width: calc(100vw - 150px);
    max-width: 800px;
    height: 50vh;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    width: calc(100% - 55px);
}


.reader {
    height: 50vh;
    width: calc(100% + 55px);

    overflow-y: scroll;
    overflow-x: visible;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    &::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }

    p, mat-form-field, button {
        max-width: calc(100% - 55px);
    }

    .tab-buttons {
        position: absolute;
        right: 0px;
    }
}

.spacer {
    flex: 1 1 auto;
}

.full-width {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
  
.container > * {
   width: 100%;
}

.button-option {
    display: block;
}

.mat-list-item {
    height: auto !important;
}

.mat-list-base .mat-list-item button {
    font-size: 14px !important;
}