<mat-card>
  <div class="reader">
    <mat-list>
      <ng-container *ngIf='current$ | async; let moment'>
        <mat-list-item [@triggerName]="'in'" *ngIf='!hideForAnimation'>
          <p *ngIf='!customText'>{{ moment.text }}</p>
          <mat-form-field *ngIf='customText' class="full-width">
            <textarea matInput matTextareaAutosize placeholder="What happens?" [formControl]="text"></textarea>
          </mat-form-field>
          <div class='tab-buttons'>
            <app-tab-button *ngIf='!customText' icon='edit' (clicked)='edit(moment.text)'></app-tab-button>
            <app-tab-button *ngIf='customText' icon='save' (clicked)='saveText()'></app-tab-button>
          </div>
        </mat-list-item>
        <mat-list-item [@triggerName]="'in'" *ngIf='customOption && !hideForAnimation'>
          <form [formGroup]="optionForm" class='container'>
            <div class='container'>
              <mat-form-field class="full-width">
                <input matInput placeholder="Describe the choice" formControlName='text'>
              </mat-form-field>
              <mat-form-field class="full-width">
                <mat-select placeholder="Action" formControlName='type'>
                  <mat-option value="moment">New Moment</mat-option>
                  <mat-option value="north">Go North</mat-option>
                  <mat-option value="east">Go East</mat-option>
                  <mat-option value="south">Go South</mat-option>
                  <mat-option value="west">Go West</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </form>
          <div class='tab-buttons'>
            <app-tab-button icon='save' (click)='saveOption()' *ngIf='customOption' [disabled]='optionForm.invalid'></app-tab-button>
            <br/>
            <app-tab-button icon='cancel' (click)='customOption = false;' *ngIf='customOption'></app-tab-button>
          </div>
        </mat-list-item>
        <ng-container *ngIf='!customOption && !hideForAnimation'>
          <mat-list-item [@triggerName]="'in'"> 
            <button mat-line (click)='next(option)' mat-button class='button-option' *ngFor='let option of moment.options'>{{ option.text }}</button>
            <div class='tab-buttons'>
              <app-tab-button icon='add' (clicked)='add(moment)' *ngIf='!customOption'></app-tab-button>
            </div>
          </mat-list-item>
          </ng-container>
      </ng-container>
    </mat-list>
  </div>
</mat-card>