@import 'theme.scss';

body {
  background-image: url('/assets/bg.png');
}

.primary-snackbar {
  span.mat-button-wrapper {
    color: mat-color($fate-app-primary);
  }
}

.error-snackbar {
  span.mat-button-wrapper {
    color: mat-color($fate-app-warn);
  }
}

.unclickable {
  .mat-button-toggle-checked {
    background-color: initial;
  }
}

.small.mat-button-toggle-group {
  
  margin: auto 0;
  .mat-button-toggle {
    border: none !important;
    margin: 0 !important;
    .mat-button-toggle-label-content {
      line-height: initial !important;
      padding: 3px !important;
    }
  }
}
.flag-on-button {
  display: inline-block;
  position: absolute;
  right: 4px;
  top: 4px;
}

.mat-tooltip {
  font-family: sans-serif !important;
}