@import 'theme.scss';

.primary-snackbar {
  span.mat-button-wrapper {
    color: mat-color($fate-app-primary);
  }
}

.error-snackbar {
  span.mat-button-wrapper {
    color: mat-color($fate-app-warn);
  }
}

.unclickable {
  .mat-button-toggle-checked {
    background-color: initial;
  }
}
